
<head>
    <title>Cook Up a Plan</title>
</head>
<body onload="getData();">
    <h1>Hello World!</h1>
    <p id="items"></p>
    <p id="times"></p>
</body>

<script>
    var variables = [];
    var timestamp = [];
    // Initialise Variables
    // here

    // Functions to get data with POST requests
    function getData() {
        window.fetch('/getdata', {
            "method": "POST",
            "headers": {"Content-Type": "application/json"}
        }).then(function (responseObj) {
            variables = [];
            timestamp = [];
            return  responseObj.json()
        }).then(function (jsonData) {
        jsonData.forEach(function (arrayElement) {
            // create entry for food item
            variables.push(arrayElement.food);
            timestamp.push(arrayElement.time);
        })
        document.getElementById("items").innerHTML = variables;
        document.getElementById("times").innerHTML = timestamp;
        // Catch errors
        }).catch(function (error) {console.log(error)});
    }
</script>