
<head>
    <title>Cook Up a Plan</title>
</head>
<body onload="getData();">
    <h1>Hello World!</h1>
    <p id="items"></p>
    <p id="times"></p>
    <p id="times"></p>
</body>

<script>
    var variables = [];
    var timestamp = [];
    // Initialise Variables
    // here

    var date = Date.now()
    var difference = date - timestamp;

    var DateDiff = {
 
        inDays: function(d1, d2) {
            var t2 = d2.getTime();
            var t1 = d1.getTime();

            return Math.floor((t2-t1)/(24*3600*1000));
        },
    }

    var d1 = new Date(timestamp);
    var d2 = new Date();

    // Functions to get data with POST requests
    function getData() {
        window.fetch('/getdata', {
            "method": "POST",
            "headers": {"Content-Type": "application/json"}
        }).then(function (responseObj) {
            variables = [];
            timestamp = [];
            return  responseObj.json()
        }).then(function (jsonData) {
        jsonData.forEach(function (arrayElement) {
            // create entry for food item
            variables.push(arrayElement.food);
            timestamp.push(arrayElement.time);
        })
        document.getElementById("items").innerHTML = variables;
        document.getElementById("times").innerHTML = timestamp;
        document.getElementById("date").innerHTML = DateDiff.inDays(date, timestamp);
        // Catch errors
        }).catch(function (error) {console.log(error)});
    }
</script>